:root {
  --font-text: 'Avenir-Medium', sans-serif;
  --font-text-bold: 'LatoBold', sans-serif;

  --font-heading-solid: 'KG Second Chances Solid', sans-serif;
  --font-heading-sketch: 'KG Second Chances Sketch', sans-serif;

  font: 100%/1 sans-serif;
}
