@font-face {
  font-family: 'Avenir-Medium';
  src: url('/static/fonts/Avenir-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'KG Second Chances Sketch';
  src: url('/fonts/KGSecondChancesSketch.woff2') format('woff2'),
    url('/fonts/KGSecondChancesSketch.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KG Second Chances Solid';
  src: url('/fonts/KGSecondChancesSolid.woff2') format('woff2'),
    url('/fonts/KGSecondChancesSolid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.woff2') format('woff2'),
    url('/fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.woff2') format('woff2'), url('/fonts/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
