:root {
  /* COLOR */
  --main-black: rgb(27, 27, 27);
  --main-white: #ffffff;
  --main-red: #ee384e;
  --main-yellow: #ffb514;
  --grey-50: #ecedf5;
  --grey-100: #cfd4e0;
  --grey-900: #262b38;
  --purple-default: #4e4ba6;
  --purple-dark: #2e0e59;
  --red-dark: #bf1f3c;
}
